* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* PRODUCT */
.product {
  border: 5px solid black;
  width: 825px;
  margin: 50px auto;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
  position: relative;
}

.product-title::before {
  content: "sale";
  background-color: orangered;
  color: #fff;
  font-size: 14px;
  padding: 7px 14px;
  position: absolute;
  left: -42px;
  top: -18px;
  letter-spacing: 5px;
}

/* PRODUCT INFORMATION */

img {
  width: 250px;
  height: 250px;
}

.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

.more-info:link,
.more-info:visited {
  color: black;
  display: block;
  margin-top: 10px;
  margin-bottom: 25px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* Available colors */
.available-colors div {
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 12px;
}

.available-colors:last-child {
  margin-right: 0;
}

.black {
  background-color: #000;
}

.blue {
  background-color: blue;
}

.orangered {
  background-color: orangered;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

/* PRODUCT DETAILS */
.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  /* margin-top: 30px; */
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON */
.add-cart {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}

/* CSS FLEXBOX */
.price-shipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .layout {
  display: flex;
  gap: 40px;
} */

.middle-part {
  margin-top: 30px;
}

.right-part {
  margin-top: 30px;
}

/* CSS GRID LAYOUT */
article {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}

.product-title {
  grid-column: 1 / span 3;
}

.add-cart {
  grid-column: 1 / span 3;
}
